---
import "./InfiniteText.css";
---
<section id="projects" class="infinite-text w-full bg-white text-black text-[2.5rem] mt-25 lg:mt-0 py-3">
  <ul class="infinite-text-content flex items-center justify-center gap-20">
    <li>La simplicidad es la clave de un gran diseño</li>
    <li>La simplicidad es la clave de un gran diseño</li>
    <li>La simplicidad es la clave de un gran diseño</li>
    <li>La simplicidad es la clave de un gran diseño</li>
    <li>La simplicidad es la clave de un gran diseño</li>
    <li>La simplicidad es la clave de un gran diseño</li>
    <li>La simplicidad es la clave de un gran diseño</li>
    <li>La simplicidad es la clave de un gran diseño</li>
  </ul>
</section>