.infinite-text {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.infinite-text-content {
  display: inline-flex;
  animation: scroll-left 20s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  90% {
    transform: translateX(-50%);
  }
  95% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(0%);
  }
}
