---
import { Button } from "@components/core"

const { url } = Astro.props;
---

<div id="back_anchor" class="h-50px">
  <Button text="Volver" />
</div>

<script>
  const anchor = document.getElementById("back_anchor");
  if (anchor) {
    anchor.addEventListener("click", function (event) {
      event.preventDefault();
      history.back();
    });
  }
</script>