---
import { Button } from "@components/core"
---

<section class="w-full h-screen flex flex-col gap-36">
  <div class="w-full flex items-center justify-start pt-52 pl-24">
    <p class="text-[4.5rem] font-bold">
      El primer paso<br/>
      para algo grande<br/>
      empieza aquí
    </p>
  </div>
  <div id="contact" class="w-full flex items-center justify-center">
    <a href="/contact"><Button text="Contacta conmigo" /></a>
  </div>
</section>
