---
import { Button } from "@components/core"
---

<section class="m-auto w-[80vw] md:w-full h-[65vh] md:h-screen flex flex-col gap-36 mt-50 md:mt-0">
  <div class="w-full flex items-center justify-center md:justify-start md:pt-52 md:pl-24">
    <p class="w-full md:w-[40rem] text-[3rem] md:text-[4.5rem] font-bold">
      El primer paso para algo grande empieza aquí
    </p>
  </div>
  <div id="contact" class="w-full flex items-center justify-center">
    <a href="/contact"><Button text="Contacta conmigo" /></a>
  </div>
</section>
