---
import { Button } from "@components/core"
---

<section class="w-[40vw]">
  <div class="m-auto">
    <form class="flex flex-col gap-6">
      <input type="text" placeholder="Correo" class="border border-white rounded-[100px] text-white py-2 px-3"/>
      <textarea placeholder="Mensaje" class="border border-white rounded-[20px] text-white min-h-[100px] py-2 px-3" />
      <div class="flex items-center justify-end">
        <Button text="Enviar" />
      </div>
    </form>
  </div>
</section>
