---
import "./Body.css";
import { Image } from 'astro:assets';
import Ilustracion from '@assets/Ilustracion.webp';
import Foto from '@assets/Foto.webp';
import RedesInsta from '@assets/RedesInsta.svg';
import RedesBehance from '@assets/RedesBehance.svg';
---
<section class="w-full">
  <div class="w-[80%] lg:w-[65%] m-auto flex flex-col md:flex-row md:gap-24">
    <section class="ilust_body_parent">
      <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
              <Image src={Ilustracion} alt="" class="ilus_body w-[30rem]" id="foto_body" />
            </div>
            <div class="flip-card-back">
              <Image src={Foto} alt="" class="foto_body w-[30rem]" />
            </div>
        </div>
      </div>
    </section>
    <section class="flex flex-col gap-4 align-center justify-center">
      <div>
        <h2 class="name_body text-[2rem]">Nerea Pérez</h2>
      </div>
      <div>
        <p class="text-[1.1rem]">
          Mi nombre es Nerea Pérez, y soy diseñadora gráfica.<br/>Mi pasión es resolver problemas a través del diseño, combinando creatividad y estrategia para crear mensajes visuales que comunican.
        </p>
      </div>
      <div class="flex gap-4">
        <a href="https://www.instagram.com/nophic.studio/" target="_blank" rel="noopener noreferrer">
          <Image
          class="hover:cursor-pointer hover:scale-[1.1] transition-transform"
          src={RedesInsta} alt="" width={40} height={40} />
        </a>
        <a href="https://www.behance.net/nophicstudio" target="_blank" rel="noopener noreferrer">
          <Image 
          class="hover:cursor-pointer hover:scale-[1.1] transition-transform"
          src={RedesBehance} alt="" width={40} height={40} />
        </a>
      </div>
    </section>
  </div>
</section>

<!-- <script>
  const foto_body = document.getElementById("foto_body");

  addEventListener("hover", foto_body )

</script> -->