---
import ItemGalery from "./ItemGalery.astro"
import { Button } from "@components/core";
import projectsList from "@services/projects.json";

const projects_Ids = [3, 8, 5, 2, 7];
const projects = projectsList.filter(project => projects_Ids.includes(project.id));
---

<div class="mt-32 mb-16 md:mb-0 w-full flex flex-col gap-12 justify-center items-center">
  <section class="section-galery flex w-full h-[420px] relative">
    {
      projects.map(project => (
        <ItemGalery project={project}/>
      ))
    }
  </section>
  <a href="/projects">
    <Button text="Ver más proyectos"/>
  </a>
</div>
