---
import ItemGalery from "./ItemGalery.astro"
import { Button } from "@components/core";
---

<div class="w-full flex flex-col gap-12 justify-center items-center">
  <section class="section-galery flex w-full h-[420px] relative">
    <ItemGalery url="#" img="https://nophicstudio.estaciondiseno.es/wp-content/uploads/2025/05/Sin-titulo-1_Mesa-de-trabajo-1-copia-2.svg" name="Track | Diseño editorial"/>
    <ItemGalery url="#" img="https://nophicstudio.estaciondiseno.es/wp-content/uploads/2025/05/Sin-titulo-1_Mesa-de-trabajo-1-copia-2.svg" name="Item"/>
    <ItemGalery url="#" img="https://nophicstudio.estaciondiseno.es/wp-content/uploads/2025/05/Sin-titulo-1_Mesa-de-trabajo-1-copia-2.svg" name="Item"/>
    <ItemGalery url="#" img="https://nophicstudio.estaciondiseno.es/wp-content/uploads/2025/05/Sin-titulo-1_Mesa-de-trabajo-1-copia-2.svg" name="Item"/>
    <ItemGalery url="#" img="https://nophicstudio.estaciondiseno.es/wp-content/uploads/2025/05/Sin-titulo-1_Mesa-de-trabajo-1-copia-2.svg" name="Item"/>
  </section>
  <a href="/projects">
    <Button text="Ver más proyectos"/>
  </a>
</div>
