---
import Layout from "src/layouts/Layout.astro";
import { Header, Footer } from '@components/core';
import { GaleryProjects } from '@components/pages/Projects';
---

<Layout>
  <div class="w-full min-h-screen flex flex-col">
    <Header backbtn={true} />
    <div class="mt-20 grow">
      <GaleryProjects />
    </div>
    <Footer />
  </div>
</Layout>
