---
---
<div class="fixed top-[100px] lg:top-[50px] w-full flex items-center justify-center z-[10]">
  <div class="grid grid-cols-3 gap-4 border border-white rounded-[50px] py-2 px-[.6rem] text-center bg-[#0B0B0B]/95">
    <a 
      href="#projects" 
      class="py-2 px-4 text-white text-[1rem] hover:bg-white hover:text-black transition-all rounded-[50px]"
    >
    Proyectos
    </a>

    <a 
      href="#about" 
      class="py-2 px-4 text-white text-[1rem] hover:bg-white hover:text-black transition-all rounded-[50px]"
    >
    Sobre mi
    </a>

    <a 
      href="#contact" 
      class="py-2 px-4 text-white text-[1rem] hover:bg-white hover:text-black transition-all rounded-[50px]"
    >
    Contacto
    </a>
  </div>
</div>