---
import "./GaleryProjectsItem.css";
const { project } = Astro.props
const image = `/projects/${project.image}`;
---

<a href={`projects${project.link}`} class="galery-item min-h-[40rem] h-full">
  <img src={image} class="transition-all" />
  <div class="galery-item-name">{project.name}</div>
</a>
