---
import GaleryProjectsItem from "./GaleryProjectsItem.astro"
import projects from "@services/projects.json"

---

<section class="w-full flex flex-col gap-4 p-4">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2">
    {
      projects.map(project => (
        <GaleryProjectsItem
          project={project}
        />
      ))
    }
  </div>
</section>
