---
import GaleryProjectsItem from "./GaleryProjectsItem.astro"
import projects from "@services/projects.json"

---

<section class="w-full flex flex-col gap-4 p-4">
  <div class="w-full">
    <h1 class="text-[1.75rem] font-bold italic ">Proyectos</h1>
  </div>
  <div class="grid grid-cols-4 gap-2">

    {
      projects.map(project => (
        <GaleryProjectsItem
          project={project}
        />
      ))
    }

  </div>
</section>
