---
import Portfolio from '@assets/Portfolio.mp4';
---

<div class="w-full mt-[30vh] md:h-[98vh] md:mt-0">
  <video autoplay loop class="w-full h-full">
    <source src={Portfolio} type="video/mp4" />
  </video>
</div>
