.about-title {
  font-family: Courier;
}

.about-title {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing 60s steps(10, end) infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  5% {
    width: 9.9ch; /* Texto completo */
  }
  100% {
    width: 9.9ch; /* Mantiene completo hasta el final */
  }
}
