---
---
<div class="grid grid-cols-2 gap-4 justify-around w-full py-10">
  <div class="w-full text-center">
    <a 
      href="https://www.instagram.com/nophic.studio/" 
      target="_blank" 
      rel="noopener noreferrer"
      class="inline-block text-white text-[1.4rem] hover:scale-110 hover:font-semibold transition-transform duration-300 ease-in-out"
    >
      Instagram
    </a>
  </div>
  <div class="w-full text-center">
    <a 
      href="https://www.behance.net/nophicstudio" 
      target="_blank" 
      rel="noopener noreferrer"
      class="inline-block text-white text-[1.4rem] hover:scale-110 hover:font-semibold transition-transform duration-300 ease-in-out"
    >
      Behance
    </a>
  </div>
</div>